@media screen and (max-width: 768px) {
  .second {
    display: none; /* Show the second image when screen width is 768px or higher */
    background: url("../../public/assets/Images/Vector\ 4.png");
    background-position: center;
    background-size: cover;
  }
  .first {
    display: none;
    background: url("../../public/assets/Images/Vector\ 3.png");
    background-position: center;
    background-size: cover;
  }
}
